<h1><%= @word_book.title %></h1>

<%= link_to "単語を追加", new_word_book_word_path(@word_book), class: "btn btn-primary mb-3" %>

<ul>
  <% @words.each do |word| %>
    <li>
      <strong><%= word.term %></strong> : <%= word.meaning %>
      <%= link_to "編集", edit_word_book_word_path(@word_book, word), class: "btn btn-sm btn-warning" %>
      <%= button_to "この単語を削除", word_book_word_path(@word_book, word), method: :delete, class: "btn btn-sm btn-danger", onclick: "return confirm('#{word.term}を本当に削除しますか？');" %>
    </li>
  <% end %>
</ul>

<%= button_to "この単語帳を削除", word_book_path(@word_book), method: :delete, class: "btn btn-danger mt-3", onclick: "return confirm('#{@word_book.title}を本当に削除しますか？');"  %>

<hr>
<%= link_to "一覧に戻る", word_books_path, class: "btn btn-secondary mt-3" %>
